# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.sqlite3

# env / secrets
.env
.env.*

# virtualenv（重要）
venv/
env/

# static（collectstatic後）
staticfiles/

# media（ユーザーアップロード）
media/

# logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# その他
*.swp
