{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}タスクの一覧{% endblock %}

{% block content %}

 <h2>登録されているタスク</h2>

<form method="post" action="{% url 'selected_task_delete' %}">
{% csrf_token %}

<p>
 {% for data in object_list %}
  <div class="custom-control custom-switch">
 <input type="checkbox" class="custom-control-input" id="switch{{ data.id }}" name="delete_list" value="{{ data.id }}">
 <label class="custom-control-label" for="switch{{ data.id }}">
 <a href="{% url 'task_detail' data.id %}"> {{ data.task_name }} : {{ data.price }}ペイ</a><br>
    </label><br>
 </div>
 {% endfor %}
</p>

 <div class="container">
 <div class="row" >
   <div class="col-md-6 mb-3">
    <button type="button" class="btn btn-outline-primary w-100 btn-lg" onclick="location.href='{% url 'task_regist' %}'"><i class="fas fa-chalkboard-teacher mr-1"></i>新しいタスクを登録する</button>

   </div>

   <div class="col-md-6 mb-3">
    <button class="btn btn-outline-success w-100 btn-lg"><i class="fas fa-ticket-alt mr-1"></i>タスクを削除する</button>

   </div>

 </div>


 </form>
<!--
{% include 'general/pagination.html' %}
--!>
<h5><a href="{% url 'admin_home' %}">戻る</a></h5>

{% endblock %}
