{% extends "base.html" %}
{% load bootstrap4 %}


{% block title %}タスクの一覧{% endblock %}

{% block content %}

 <h2>登録されているタスク</h2>

<form method="post" action="{% url 'selected_task_delete' %}">
{% csrf_token %}

<p>
 {% for data in object_list %}
  <div class="custom-control custom-switch">
 <input type="checkbox" class="custom-control-input" id="switch{{ data.id }}" name="delete_list" value="{{ data.id }}">
 <label class="custom-control-label" for="switch{{ data.id }}">
 <a href="{% url 'task_detail' data.id %}"> {{ data.task_name }} : {{ data.price }}ペイ</a><br>
    </label><br>
 </div>
 {% endfor %}
</p>

 <p><a href="{% url 'task_regist' %}" class="btn btn-primary">新しいタスクを登録する</a></p>
 <p><button class="btn btn-primary">タスクを削除する</button></p>
 </form>

{% include 'general/pagination.html' %}

{% endblock %}
