{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}タスクの変更{% endblock %}

{% block content %}
 <h2>タスクを変更する</h2>

<form method="post" action="{% url 'task_update' task.id %}">
 {#
  get（参照）だとurlのパラメータにくっついていく。post（更新、削除）だと裏でパラメータがくっつく
  actionはurl指定
 　指定しない場合はgetになる。actionはデフォルトだとその画面のURL
#}

 {% csrf_token %}
 {# csrf_token はpostメソッドを使うときは必ず入れる #}

  <input type="text" value="{{ task.task_name }}" name="task_name">
  <input type="text" value="{{ task.price }}" name="price">

 <p><input type="submit" value="変更する" class="btn btn-primary"></p>

</form>



{% endblock %}