{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}チケット利用完了{% endblock %}

{% block content %}

<p>
<h2>チケットをつかいました</h2>
</p>
<p>
<div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2 w-80">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <img class="rounded-circle mr-3" src="/media/{{ child_data.cuser.photo }}" alt="" width="70" height="70">
                </div>
                <div class="col mr-2 text-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ child_data.cuser }}</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {% if child_data.balance == None %}
                            <div class="pay">¥0</div>
                            {% else %}
                            <div class="pay">¥{{ child_data.balance }}</div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</p>


    {% for data in object_list %}
<p>{{ data.ticket_name }}:¥{{ data.price }}</p>
    {% endfor %}


<a href="{% url 'child_home' child_data.cuser_id %}">Homeへ</a>

{% endblock %}