{% extends "base.html" %}

{% block title %}ホーム{% endblock %}

{% block content %}
<style>
   .jumbotron { background:url(static/top.jpg) center no-repeat; background-size: cover;}
</style>


{% if user.is_authenticated %}

  <div class="jumbotron">

    <div class="container">
      <h1 class="display-3 text-white" >
          ままペイにようこそ、 {{ user.get_username }}ままと子供たち!</h1>
      <p>#2</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">詳しくみる &raquo;</a></p>
    </div>
  </div>

<p>

{% for data in object_list %}

<div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2 w-80">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <img class="rounded-circle mr-3" src="/media/{{ data.cuser.photo }}" alt="" width="90" height="90">
                </div>
                <div class="col mr-2 text-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a href="{% url 'child_home' data.id %}">{{ data.cuser }}</a></div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {% if data.balance == None %}
                            <div class="pay">¥0</div>
                            {% else %}
                            <div class="pay">¥{{ data.balance }}</div>
                            {% endif %}
                    </div>
            <div class="row no-gutters align-items-center">
                    <a href= "{% url 'child_home' data.id %}" class="btn btn-secondary">くわしくみる &raquo;</a>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

</p>


<!--
<p><button><a href="{% url 'admin_home' %}">ママ画面</a></button></p>
-->
<div class="container">
 <div class="row" >
   <div class="col-md-6 mb-3">
    <button type="button" class="btn btn-outline-primary w-100 btn-lg" onclick="location.href='{% url 'password_change' %}'"><i class="fas fa-chalkboard-teacher mr-1"></i>パスワード変更</button>
   </div>

   <div class="col-md-6 mb-3">
    <button type="button" class="btn btn-outline-success w-100 btn-lg" onclick="location.href='{% url 'logout' %}'"><i class="fas fa-ticket-alt mr-1"></i>ログアウト</button>
   </div>
{% else %}
   <div class="col-md-6 mb-3">
    <button type="button" class="btn btn-outline-danger w-100 btn-lg" onclick="location.href='{% url 'login' %}'"><i class="fas fa-thumbs-up mr-1"></i>ログイン</button>
   </div>
{% endif %}
 </div>
</div>

<!--
<p><a href="{% url 'password_change' %}">パスワード変更</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
<p><a href="{% url 'login' %}">ログイン</a></p>
-->

{% endblock %}
