{% extends "base.html" %}

{% block title %}申請完了{% endblock %}

{% block content %}

<p>
<h2>おてつだいをつたえたよ！</h2>
<h2>ママがみるまでまってね</h2>
</p>


<p>
<div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2 w-80">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <img class="rounded-circle mr-3" src="/media/{{ child_data.photo }}" alt="" width="70" height="70">
                </div>
                <div class="col mr-2 text-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ child_data.name }}</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {% if balance_data.balance == None %}
                            <div class="pay">¥0</div>
                            {% else %}
                            <div class="pay">¥{{ balance_data.balance }}</div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</p>

<h2>ママのOKまち</h2>
<p>
{% for request in request_list %}
{{ request.task.task_name }}:¥{{ request.task.price }}<br>
{% endfor %}
</p>

<a href="{% url 'child_home' child_data.id %}">Homeへ</a>

{% endblock %}
