{% extends "base.html" %}

{% block title %}タスクの申請{% endblock %}
{% block content %}


<h2>登録されているタスク</h2>

<p>{{ child_data.name }}</p>

<form method="post" action="{% url 'task_apply_update' %}">
    {% csrf_token %}

{#  use_ticketをベースにつくりなおす #}

    {% for list in object_list %}
    <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switch{{ list.id }}" name="apply_task_list" value="{{ list.id }}">
    <label class="custom-control-label" for="switch{{ list.id }}">
        {{ list.task_name }}
    </label><br>
    </div>
    {% endfor %}

    <input type="hidden" name="apply_child_id" value="{{ child_data.id }}" />

    {# <p><input type="submit" value="申請する"></p> #}
    <p><button class="btn btn-outline-primary">申請する</button></p>
</form>

<a href="{% url 'child_home' child_data.id %}">Homeへ</a>

{% endblock %}
