{% extends "base.html" %}

{% block title %}こどもを見る{% endblock %}

{% block content %}


<h5>{{ balance.cuser }}</h5>

<div class="pay text-center">¥{{ balance.balance }}</div>

<h5>{{ balance.cuser }}の申請</h5>


<form method="post" action="child_approve">
    {% csrf_token %}

    {% for list in object_list %}
    <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switch{{ list.id }}" name="approve_task_list" value="{{ list.id }}">
    <label class="custom-control-label" for="switch{{ list.id }}">
        {{ list.task }}</input>
    </label><br>
    </div>
    {% endfor %}

    <p><button class="btn btn-outline-primary">承認する</button></p>
</form>


{# <p><a href="{% url 'children_history' balance.cuser_id %}">タスクとチケット購入履歴を見る</a></p> #}
<h2><a href="{% url 'admin_home' %}">ホームに戻る</a></h2>

{% endblock %}
