{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}こどもを選択{% endblock %}

{% block content %}

<h2>こどもを選択</h2>

 {% for data in object_list %}
 <p>
<div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2 w-80 href="{% url 'child_status' data.id %}">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <img class="rounded-circle mr-3" src="/media/{{ data.cuser.photo }}" alt="" width="70" height="70">
                </div>
                <div class="col mr-2 text-center">
                 <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><a href="{% url 'child_status' data.id %}">{{ data.cuser }}</a></div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {% if data.balance == None %}
                            <div class="pay">¥0</div>
                            {% else %}
                            <div class="pay">¥{{ data.balance  }}</div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</p>
{% endfor %}




<h5><a href="{% url 'admin_home' %}">戻る</a></h5>

{% endblock %}
