{% extends "base.html" %}

{% block title %}こどもを見る{% endblock %}

{% block content %}


<h2>{{ balance.cuser }}の申請</h2>

<p>
<div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2 w-80">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <img class="rounded-circle mr-3" src="/media/{{ balance.cuser.photo }}" alt="" width="70" height="70">
                </div>
                <div class="col mr-2 text-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ balance.cuser }}</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {% if balance.balance == None %}
                            <div class="pay">¥0</div>
                            {% else %}
                            <div class="pay">¥{{ balance.balance  }}</div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</p>

<form method="post" action="child_approve">
    {% csrf_token %}

    {% if not object_list %}
    <p class="text-center">{{ balance.cuser }}の申請はありません</p>
    {% else %}
        {% for list in object_list %}
    <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switch{{ list.id }}" name="approve_task_list" value="{{ list.id }}">
    <label class="custom-control-label" for="switch{{ list.id }}">
        {{ list.task }}</input>
    </label><br>
    </div>
        {% endfor %}


   　<div class="container">
      <div class="row" >
            <div class="col-md-6 mb-3">
                <button class="btn btn-outline-primary w-100 btn-lg" ><i class="fas fa-chalkboard-teacher mr-1"></i>承認する</button>
            </div>
        </div>
    </div>

    {% endif %}
</form>


{# <p><a href="{% url 'children_history' balance.cuser_id %}">タスクとチケット購入履歴を見る</a></p> #}
<h5><a href="{% url 'admin_home' %}">戻る</a></h5>

{% endblock %}
